.home {
    &__container {
        padding: 0 10px;
    }

    &__benefits{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    &__categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    &__category{
        width: 48%;
        &:nth-child(3n + 1){
            width: 100%;
        }
    }
}
