.signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1e1e1e;
    border-radius: 6px;
    overflow: hidden;
    height: 226px;
    padding: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.decor {
    color: #ffde00;
}

.img {
    flex-shrink: 0;
    height: 46px;
    width: 68px;
}

.text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #666666;
}
