.benefit{
    font-family: 'Roboto';
    max-width: 46%;

    &__img{
        object-fit: contain;
        width: auto;
        height: auto;
        margin-bottom: 18px;
    }

    &__title{
        font-size: 15px;
        line-height: 16px;
        margin-bottom: 10px;
    }

    &__text{
        font-size: 12px;
        font-weight: 300;
        color: #818690;
    }
}